*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #cccccc;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("starry-night-wallpaper.jpg");
  background-size: 100%;
}

#header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  height: 35px;
  padding: 25px;
  position: fixed;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: center;
}

.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-size: 15px;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all;
  transition-duration: 500ms;
}

a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.foto img:hover {
  transform: scale(1.05);
}

.foto img {
  margin-top: 100px;
  justify-content: center;
  margin-left: 550px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #000080;
  transition: transform 0.3s ease;
}

#konten {
  justify-content: center;
  text-align: left;
  max-width: 800px;
  margin: 20px auto;
}

.artikel:hover {
  transform: scale(1.03);
}
h2 {
  color: #323232;
  margin-bottom: 10px;
}

.artikel {
  background-color: white;
  padding: 25px;
  margin-bottom: 15px;
  border-left: 25px solid #323232;
  border-radius: 50px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.artikel p {
  font-size: 25px;
  color: black;
}

#footer {
  background-color: rgb(26, 26, 26);
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  margin-top: 50px;
}
